.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(48,7,26);
    background: linear-gradient(90deg, rgba(48,7,26,1) 0%, rgba(200,37,37,1) 64%);
}