.tabsets-wrap {        
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0 0px;
    width: fit-content;
    width: 90vw;
    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 45vw);
    }
}

.content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0 0px;
}

.card-wrap {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 25px;
    width: 90vw;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);        
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    @media screen and (max-width: 430px) {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}

.docs-title span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #353535;
}

.search-wrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.search-input {
    border: none;
    background-color: #f5f5f5;
    color: #353535;
    padding: 12px;    
    border-radius: 25px;
    width: 200px;
    font-size: 15px;   
    transition: .3s ease-out;
    &::placeholder{
        color: rgb(138, 138, 138);
    }
    @media screen and (max-width: 430px) {
        width: 60vw;
    }
}

.search-input:focus{
    outline: none;
    box-shadow: 0 3px 5px #c5c5c5;    
}

.row-doc {
    display: flex;
    flex-direction: row;
    padding: 10px;
    transition: .3s ease-out;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;    
    color: black;

}



.row-doc:hover {
    background-color: #cccccc;
    transform: scale(1.005) translateY(-5px);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);            

}



.row-doc:hover {
    background-color: #cccccc;
    transform: scale(1.005) translateY(-5px);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15);            
}
