.page-sidebar {
    background: linear-gradient(135deg, #c8505a, #d07a41);      
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s ease-out;
    z-index: 1;
}

.closed {
    left: -200px;
}

.header-sidebar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100px;
    transition: .3s ease-out;
}

.closed-hd {
    height: 60px;
}

.header-sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: .3s ease-out;
    opacity: 1;
}

.closed-ti {        
    transform: scale(0.01);
    opacity: 0;
}

.title-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.uta-logo {
    height: 66px;
    margin-right: 10px;
    transition: .3s ease-out;
}

.closed-lg {
    height: 30px;
    margin-left: 350px;
    margin-top: 10px;

}

.logout-sidebar {
    position: absolute;
    bottom: 20px;
    width: 100%;    
}

.option-sidebar {      
    padding-left: 20px;
    list-style: none;     
    color: white;
    transition: .3s ease-out;   
}

.option-sidebar-cl {      
    display: flex;
    justify-content: end;
    padding: 13px;
    list-style: none;     
    color: white;
    transition: .3s ease-out;   
    cursor: pointer; 

}

.option-sidebar:hover,
.option-sidebar-cl:hover {      
    background-color: rgb(255, 89, 89);    
}

.active-op {
    background-color: white;
}

.option-header {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;   
}

.active-op-hd {
    color: #000;
    font-weight: bold;
}

.option-header-icon {    
    width: 20px;
}

.option-header span {
    margin: 10px;
    
}

.body-sidebar {
    margin-top: 30px;
}

.body-sidebar-options {
    margin-top: 10px;
}

.menu-span {
    color: white;
    margin-left: 20px;    
    font-weight: bold;    
}

.menu-icon-side{
    color: white;
    margin-left: 215px;
}

.separator {
    margin: 10px;
    border: 1px solid white;
}

/*=============== RESPONSIVENESS START ============== */

@media screen and (max-width: 768px){

    .closed {
        left: -250px;

    }  
}

    }
}

